:local(.shareable) {
  h4 {
    margin-bottom: 0.5rem;
  }
  ul {
    margin: 0 0 2rem 2.6rem;
  }
  li {
    font-weight: 500;
    margin-top: 1rem;
    line-height: 1.4em;
  }
  .shareable-info {
    position: relative;
    margin-right: 2rem;
  }
  .remove-shareable {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    margin-left: 0.5rem;
  }
  .urgent {
    color: var(--magenta);
    &::before {
      content: "\276f \276f \276f";
      padding-right: 0.5rem;
    }
  }
  .shareable-form {
    margin-bottom: 1.5rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 0.2rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "description description description" "expiration urgent button";
  }
  .description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    input {
      width: 100%;
      margin: 0;
    }
  }
  .expiration {
    grid-area: expiration;
    display: flex;
    flex-direction: column;
  }
  .urgent-checkbox {
    grid-area: urgent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  button {
    grid-area: button;
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
  }
  @media (min-width: 600px) {
    .shareable-form {
      grid-template-columns: 2fr 1fr;
      grid-gap: 1rem;
      grid-template-areas: "description description" "expiration urgent"
    }
    .description {
      flex-direction: row;
      align-items: center;
    }
    .expiration {
      flex-direction: row;
      align-items: center;
    }
    .urgent-checkbox {
      flex-direction: row;
      align-items: center;
      justify-self: flex-start;
    }
    button {
      grid-area: urgent;
      justify-self: flex-end;
      width: fit-content;
    }
  }
  @media (min-width: 900px) {
    .shareable-info {
      margin-right: 0;
    }
  }
}