:local(.friends) {
  padding: 2rem 1rem;
  width: 350px;
  margin: 0 auto;
  h3 {
    margin-bottom: 0.5rem;
  }
  .text-button {
    margin-top: 1rem;
  }
  .friend-add-form {
    border: 1rem solid var(--dark-saffron);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    input {
      width: 100%;
      margin-top: 0.2rem;
    }
    label {
      align-self: flex-start;
    }
  }
  .friend-list {
    h3 {
      margin-top: 2rem;
    }
    a {
      color: var(--magenta);
      font-weight: 500;
    }
    .text-button {
      margin-left: 0.5rem;
    }
    li {
      margin-bottom: 0.8rem;
    }
  }
  .remove-friend {
    position: relative;
    top: 0.6rem;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    color: var(--mid-gray);
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 1rem;
  }
  .existing-friends {
    display: flex;
    align-items: flex-start;
    position: relative;
  }
  .friend-list-item {
    display: flex;
    align-items: center;
  }
  .friend-error {
    width: 90%;
    text-align: center;
    margin: 1rem auto 0 auto;
    font-weight: 500;
  }
}
